<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Party Details</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="row1" th:object="${party}">
    <div class="row1content" th:if="${partyChosen}">

        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/partydetails/${prevId}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/partydetails/${nextId}|}">&gt;</a>
        </div>

        <h2 th:text="${party.name}">partyname</h2>
        <div class="venueinfo">
            <div class="infoLine">
                <h3 th:text="*{#dates.format(date,'dd/MM/yyyy')}"></h3>
                <a th:text="${partyChosen.getVenue().getVenueName()}"
                   th:href="@{|/venuedetails/${partyChosen.getVenue().getId()}|}"></a>
            </div>
            <div th:unless="${priceTest}" class="infoLine">
                Free Party!
            </div>
            <div th:if="${priceTest}" class="infoLine">
                <div class="infoLineName">price:</div>
                <div class="InfoLineValue"
                     th:text="${partyChosen.getPricePresaleInEur()} + '€ (presale) / ' + ${partyChosen.getPriceInEur() + '€'} "></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">Doors:</div>
                <div class="InfoLineValue" th:text="*{#dates.format(doors,'HH:mm')}"></div>
            </div>
            <div th:unless="${partyChosen.getExtraInfo().isBlank() || partyChosen.getExtraInfo().isEmpty()}" class="infoLine">
                <div class="infoLineName">extrainfo:</div>
                <div class="InfoLineValue" th:text="${partyChosen.getExtraInfo()}"></div>
            </div>

        </div>
        <div th:each="artist:${partyChosen.getArtists()}">
            <a class="buttonLook mediumButton"
               th:href="@{|/artistdetails/${artist.id}|}">
                <span th:text="${artist.getArtistName()}">venue name </span>
            </a>
        </div>
        <div>
            <div th:if="${peopleComing}" class="infoLine">
                <div class="infoLineName">Who goes:</div>
                <div th:each="animal:${partyChosen.getAnimals()}">
                    <a class="buttonLook mediumButton"
                       th:href="@{|/animaldetails/${animal.id}|}">
                        <span th:text="${animal.getName()}">venue name </span>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a class="buttonLook mediumButton" th:href="@{|/admin/partyedit/${party.id}|}">EDIT</a>
        </div>


        <div class="row1content" th:unless="${party}">
            <p>no party was chosen</p>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>