<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay up</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="/static.css/stylesheet.css"/>
</head>
<body>
    <p class="a" th:text="|De datum van vandaag is ${date}|">date</p>
    <p class="a" th:text="|De uiterste datum van betalen is ${paydate}|">paydate</p>
</body>
</html>