<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="row1">
    <div class="row1content">
        <div th:switch="${index}">
            <h2 th:case="null">-- no venue chosen --</h2>
            <h2 th:case="*" th:text="${venueName}"></h2>
        </div>
    </div>
</div>
</body>
</html>