<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="row1">
    <div class="row1content" th:if="${venueName}">
        <h2 th:text="${venueName.getVenueName()}">venuedetails</h2>

        <div class="venueinfo"></div>
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${prevIndex}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${nextIndex}|}">&gt;</a>
        </div>
        <div class="venueinfo">
            <div class="infoLine">
                <div class="infoLineName">info:</div>
                <div class="infoLineValue">
                    <a th:href="${venueName.getLinkMoreInfo()}" target="_blank" th:text="${venueName.getLinkMoreInfo()}"></a>
                </div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">capacity:</div>
                <div class="infoLineValue" th:text="${venueName.getCapacity()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">food provided:</div>
                <div class="infoLineValue" th:text="${venueName.isFoodProvided()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">indoor:</div>
                <div class="infoLineValue" th:text="${venueName.isIndoor()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">outdoor:</div>
                <div class="infoLineValue" th:text="${venueName.isOutdoor()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">free parking:</div>
                <div class="infoLineValue" th:text="${venueName.isFreeParkingAvailable()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">city:</div>
                <div class="infoLineValue" th:text="${venueName.getCity()}"></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">distance from public transport:</div>
                <div class="infoLineValue" th:text="${venueName.getDistanceFromPublicTransportInKm()}"></div>
            </div>
        </div>
        <div class="row1content" th:unless="${venueName}">
            <p>no venue was chosen</p>
        </div>
    </div>
</div>

</body>
</html>