<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<h2>venues</h2>
<a class="buttonLook mediumButton" th:href="@{/venuedetails/de loods}">De loods</a>
<a class="buttonLook mediumButton" th:href="@{/venuedetails/de carré}">De Carré</a>
<a class="buttonLook mediumButton" th:href="@{/venuedetails/Sportpaleis}">Sportpaleis</a>

</body>
</html>