<!DOCTYPE html>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Details</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/stylesheet.css}" href="/static.css/stylesheet.css"/>
</head>
<body>
<header>
    <div class="nav">
        <h1>Let's Party!</h1>
        <div class="navbuttons">
            <a class="buttonLook menuButton" href="/home">home</a>
            <a class="buttonLook menuButton" href="/venuelist">venues</a>
            <a class="buttonLook menuButton" href="/about">about</a>
        </div>
    </div>
</header>
<div class="row1">
    <div class="row1content">
        <h2><p th:text="${venueName}">venue</p></h2>
    </div>
    <div class="buttons"><a href="/">home</a></div>
</div>

</body>
</html>